@use "../../../assets/scss/variables" as *;

.counter {
    border: 2px solid black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    height: 50%;
    background-color: $color-counter;

    &__value {
        position: relative;
        top: -1.05rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
}
